{% extends "base.html" %}

{% block content %}
    <h1>Вход</h1>
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p hidden>{{ form.submit() }}</p>
<!--        <input id="submit" name="submit" type="submit" value="Sign In" hidden>-->
        <button class="button" type="button" style="height:60px;max-width:250px;margin-top:0%;display:flex;justify-content:center;align-items:center;">
            <p>Вход</p>
        </button>
    </form>
    <script>
        const fileInput = form.querySelector("#submit"),
        bottomInputFile = document.querySelector("button");
        bottomInputFile.addEventListener("click", ()=>{fileInput.click();});
    </script>
 {% endblock %}