# output dir
output
instant_test_output
inference_test_output

logs/*
app.db
app/static/cutting_file/*
app/static/downloads/*
app/static/draw/*
app/static/zip/*
migrations
PUT_YOUR_DATASET_HERE
tests.py
app/kwargs.py
.flaskenv
__pycache__
certs
venv
.venv
.idea
институт/*
app/trash.py
task1.py