{% extends 'base.html' %}

{% block content %}
<style>
    #menu_cutting{
        background: white;

}
</style>
<div class="container-table" style="justify-content:center">
    <form action="{{url_for('main.cut_rout')}}" enctype="multiple / form-data">
        <input type="file" name="file" class="input-file" hidden>
        <button class="button" type="button" style="height:60px;width:600px;margin-top:0%;display:flex;justify-content:center;align-items:center;">

            <img src="/static/logo/upload.png" alt="#">
            <a>Выбрать файл</a>
        </button>
    </form>
</div>

<div class="wrapper" style="align-items: center">
    <section class="progress-area"></section>
    <section class="uploaded-area"></section>
</div>

{% if data %}
<div class="data_enable" hidden>
    <span>{{ data.id }}</span>
    <span>{{ data.images.filename }}</span>
</div>
{% endif %}


<script src="/static/js/cut_rout_test.js"></script>
<!--<script src="/static/js/jquery-3.6.3.min.js"></script>-->
{{ super() }}
{% endblock %}