{% extends 'base.html' %}

{% block content %}
<style>
#menu_cutting{
    background: gray;

}
</style>


<div class="container-table" style="justify-content:center">
    <form action="{{url_for('main.cutting_rout_celery')}}" method="post">
        <input type="file" name="file" class="input-file" accept=".svs" hidden>
        <input id="submit" type="submit" value="Загрузить" hidden/>
        <button id="inputSVS" class="button" type="button" style="height:60px;width:200px;margin-top:0%;display:flex;justify-content:center;align-items:center;">
            <img src="/static/logo/upload.png" alt="#">
            <p>Выбрать файл</p>
        </button>
    </form>
</div>

<div class="wrapper" style="align-items: center">
    <section class="progress-area"></section>
    <section class="uploaded-area">
        {% if tasks %}
            {% for task in tasks %}
                <li class="row" id="{{task.id}}">
                        <img src="./static/logo/file.png">
                        <span class="name">{{ task.images.filename[:9] }}</span>
                        <div class="content"style="display:flex;flex-direction:column;min-width: 150px;">
                            <div class="details">
                                <span class="name">Загрузка • </span>
                                <span class="percent"><img class='fa-check' src="./static/logo/green_check.png"></span>
                            </div>
                            <div class="details"style="flex-direction:row">
                                <span class="func_name">Cutting • </span>
                                <span class="percent"></span>
                            </div>
                            <div class="progress-bar">
                                <div class="progress" style="width: 0%"></div>
                            </div>
                        </div>
                        <div class="box" style="display:none;width:40%;align-items:center;justify-content:center;height: 100%">
                            <a class="button_download" href="" style="justify-content:center">Скачать</a>
                        </div>
                    </li>
            {% endfor %}
        {% endif %}
    </section>
</div>



<!--<script src="/static/js/jquery-3.6.3.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script src="/static/js/cut_rout_jquery.js"></script>

{{ super() }}
{% endblock %}