{% extends 'base.html' %}

{% block content %}
<style>
    #menu_analysis{
        background: white;

}
</style>

<div class="container-table">
    <div class="box" style="background: #eff1f4;">
        Выберите файл
    </div>
    <div class="box" style="background: #eff1f4;">
        Обработка
    </div>
    <div class="box" style="background: #eff1f4;">
        Номер исследдования
    </div>
    <div class="box" style="background: #eff1f4;">
        Найдено митозов
    </div>
    <div class="box" style="background: #eff1f4;">
        Скачать
    </div>
</div>

<div class="container-table">

    <div class="box" id="datetime" style="justify-content: center">
        <form action="{{url_for('main.cut_rout')}}" style="margin-top:0%" enctype="multiple / form-data">
            <input type="file" name="file" class="input-file" hidden>
            <button class="button" type="button" style="margin-top:0%">Выбрать файл</button>
        </form>
        <img id="img_file" src="/static/logo/file.png" style="border-radius:0;display:none;">
        <span class="span_name"></span>
    </div>
    <div class="box" id="name" style="justify-content: center">

    </div>


    <div class="box" id="status" style="justify-content: center">

    </div>


    <div class="box" id="result" style="justify-content: center">

    </div>

    <div class="box">
        <a class="button_download" href="" style="display:none;justify-content: center">Скачать</a><br>
    </div>
</div>


<script src="/static/js/get_analysis.js"></script>

{{ super() }}
{% endblock %}