{% extends 'base.html' %}

{% block content %}
<style>
    #menu_analysis{
        background: gray;


}
</style>

<div class="container-table" style="width:100%;justify-content: center">
    <div class="box" style="background: #eff1f4;">
        Выберите файл
    </div>
    <div class="box" style="background: #eff1f4;">
        Обработка
    </div>
    <div class="box" style="background: #eff1f4;">
        Номер исследования
    </div>
    <div class="box" style="background: #eff1f4;">
        Найдено митозов
    </div>
    <div class="box" style="background: #eff1f4;">
        Скачать
    </div>
</div>

<form action="{{url_for('main.predict_rout')}}" style="margin-top:0%" enctype="form-data" method="post">
    <input type="file" name="file" class="input-file" accept=".svs" hidden>
    <input id="submit" type="submit" value="Загрузить" hidden/>
</form>

<section class="progress-area"></section>
<section class="uploaded-area">
    {% if tasks %}
    {% for task in tasks %}
        <div class="container-table" id="{{ task.id }}" style="width:100%;justify-content:center">
            <div class="box" id="datetime" style="justify-content: flex-start;">
                <img src="./static/logo/file.png">
                <span class="name"><p>{{ task.images.filename }}</p></span>
            </div>
            <div class="box" id="status" style="justify-content: center">
                <div class="content" style="justify-content: center; align-items: center">
                    <div class="details" style="justify-content: center">
                        <span class="name"></span>
                        <span class="percent"></span>
                    </div>
                    <div class="progress-bar" style="width: 90%">
                        <div class="progress" style="width: 0%"></div>
                    </div>
                </div>
            </div>
            <div class="box" id="analysis_number" style="justify-content: center">

            </div>
            <div class="box" id="result" style="justify-content: center">

            </div>
            <div class="box">
                <a class="button_download" href="" style="display:none;justify-content:flex-start"><img src="/static/logo/download.png" alt="#">Скачать</a><br>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</section>


<button id="inputSVS" class="button" type="button" style="margin-top:1%;background:#389ce4;width:160px">Выбрать файл</button>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script src="/static/js/get_analysis_jquery.js"></script>

{{ super() }}
{% endblock %}