{% extends 'base.html' %}

{% block content %}
<style>
    #menu_history{
        background: gray;


}
</style>

<form action="{{url_for('main.history')}}" style="margin-top:0%" enctype="form-data" method="post">

</form>

<div class="container-table" style="width:100%;justify-content: center">
    <div class="box" style="background: #eff1f4;">
        Файл
    </div>
    <div class="box" style="background: #eff1f4;">
        Статус
    </div>
    <div class="box" style="background: #eff1f4;">
        Номер исследования
    </div>
    <div class="box" style="background: #eff1f4;">
        Найдено митозов
    </div>
    <div class="box" style="background: #eff1f4;">
        Скачать результат
    </div>
</div>

<section class="progress-area"></section>
<section class="uploaded-area">
    {% if tasks %}
    {% for task in tasks %}
        <div class="container-table" id="{{ task.id }}" style="width:100%;justify-content:center">
            <div class="box" id="datetime" style="justify-content: flex-start;">
                <img src="./static/logo/file.png">
                <span class="name">{{ task.images.filename }}</span>
            </div>
            <div class="box" id="status" style="justify-content: center">
                <div class="content" style="justify-content: center; align-items: center">
                    <div class="details" style="justify-content: center">
                        <span class="name"></span>
                        <span class="percent"></span>
                    </div>
                    <div class="progress-bar" style="width: 90%">
                        <div class="progress" style="width: 0%"></div>
                    </div>
                </div>
            </div>
            <div class="box" id="analysis_number" style="justify-content: center">

            </div>
            <div class="box" id="result" style="justify-content: center">

            </div>
            <div class="box">
                <a class="button_download" href="" style="display:none">
                    <img src="/static/logo/download-blue.png" alt="#">
                </a>
                <a class="button_cancel" href="" style="display:none">
                    <img src="/static/logo/remove.png" alt="#">
                </a>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</section>
<ul class="pager">
    <li class="previous" style="{% if not prev_url %}display: none{% endif %}">
        <a href="{{ prev_url or '#' }}"><span aria-hidden="true">&larr;</span>назад

        </a>
    </li>
    <li class="next" style="{% if not next_url %}display: none{% endif %}">
        <a href="{{ next_url or '#' }}">вперед<span aria-hidden="true">&rarr;</span>
        </a>
    </li>
</ul>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script src="/static/js/get_analysis_jquery.js"></script>

{{ super() }}
{% endblock %}

