{% extends 'base.html' %}

{% block content %}
<style>
    #menu_analysis{
        background: white;

}
</style>

<div class="container-table">
<div class="box" style="background: #eff1f4;">
    Data/Time
</div>
<div class="box" style="background: #eff1f4;">
    Name/ID
</div>
<div class="box" style="background: #eff1f4;">
    Status
</div>
<div class="box" style="background: #eff1f4;">
    Всего митозов
</div>
<div class="box" style="background: #eff1f4;">
    Download
</div>
</div>
{% for prediction in data %}
<div class="container-table">
    <div class="box" id="datetime">{{prediction.timestamp.strftime('%d/%m/%Y %H:%M')}}</div>
    <div class="box" id="name">{{prediction.images.filename}}/ {{prediction.images.analysis_number }}</div>

    <div class="box" id="status">{% if prediction.tasks.first().complete is true %}Done<img src="/static/logo/green_check.png"></div>
    {% else %}
        {{ prediction.tasks.first().complete }}<img src="/static/logo/load.gif"></div>
    {% endif %}
    <div id="predict_id" hidden>
        {{prediction.tasks.first().id}}
    </div>
    <div class="box" id="result">
        <b>{{prediction.result_all_mitoz}}</b>
    </div>
    <div class="box" >
        <a class="button" href="/get-zip/{{prediction.images.filename}}_{{prediction.timestamp.strftime('%d_%m_%Y__%H_%M')}}.zip" style="display:none">predict</a><br>
        <a class="button_del" href="#" style="display:none;background:red;">
            {% if prediction.tasks.first().complete is true %}DELETE{% else %}STOP{% endif %}
        </a>
    </div>
</div>
{% endfor %}
    <ul class="pager">
        <li class="previous" style="{% if not prev_url %}display: none{% endif %}">
            <a href="{{ prev_url or '#' }}"><span aria-hidden="true">&larr;</span>назад

            </a>
        </li>
        <li class="next" style="{% if not next_url %}display: none{% endif %}">
            <a href="{{ next_url or '#' }}">вперед<span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>

<script src="/static/js/index.js"></script>
<!---->
{{ super() }}
{% endblock %}

<!--            <script>-->
<!--                let total = ({{ msg[5] }} * 2);-->
<!--                let dataId = {{ msg[0] }};-->

<!--                function getCategoryList() {-->

<!--                var xhr = new XMLHttpRequest();-->
<!--                xhr.open("GET", `/status/${dataId}`, false);-->
<!--                xhr.send();-->

<!--                // stop the engine while xhr isn't done-->
<!--                for(; xhr.readyState !== 4;)-->

<!--                if (xhr.status === 200) {-->

<!--                    console.log('SUCCESS', xhr.responseText);-->

<!--                } else console.warn('request_error');-->

<!--                return JSON.parse(xhr.responseText);-->
<!--                }-->
<!--                const x = getCategoryList();-->

<!--                  function progress () {-->
<!--                    const now = getCategoryList();-->
<!--                    var percent = document.querySelector('.percent')-->
<!--                    let width = Math.floor((now/total) * 100);-->
<!--                    let elem = document.getElementById("progress"),-->
<!--                    id = setInterval(progressStatus,5000);-->
<!--                    function progressStatus () {-->
<!--                      if (width >= 100) {-->
<!--                        clearInterval(id);-->
<!--                        document.location.reload();-->
<!--                      } else {-->
<!--                        const now = getCategoryList();-->
<!--                        let width = Math.floor((now/total) * 100);-->
<!--                        elem.style.width = width + '%';-->
<!--                        percent.textContent = width + '%';-->
<!--                      }-->
<!--                    }-->
<!--                  }-->
<!--                  progress();-->
<!--            </script>-->